<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <!-- Boolean tipos: Disabled, selected, checked, etc  -->
    <div id="app" class="container">
      Etiquetas deshabilitadas
      <input type="text" disabled />
      <option selected></option>
      <input type="checkbox" checked />

      <br />
      <br />
      Con Vue

      <br />
      Valor: {{txtDisabled}}
      <br />
      <button @click="(txtDisabled=!txtDisabled)" class="btn">
        <label v-if="txtDisabled==true" style="color: white"
          >Deshabilitados</label
        >
        <label v-else="txtDisabled==false" style="color: black"
          >Habilitados</label
        >
      </button>
      <input type="text" :disabled="txtDisabled" />
      <input type="text" v-bind:disabled="txtDisabled" />

      <br />
      <br />

      Usuarios debe ser menor a 5 para deshabilitar
      <br />
      <button @click="usuarios--" class="btn red">Usuario -1</button>
      <button @click="usuarios++" class="btn blue">Usuario +1</button>
      Usuarios actuales: {{usuarios}}
      <br />
      <input type="text" :disabled="(usuarios<5)" />
      <br />
      <br />
      <!-- Hay que ponerle un span para que se vea-->
      <input type="checkbox" :checked="!txtDisabled" />
      <span></span>
      <br />
      <br />
      El valor requiered hace lo siguiente si dejas en blanco y das enviar, te
      pide que llenes los datos
      <form method="POST">
        <input type="text" required="esObligatorio" />
        <button type="submit">Enviar</button>
      </form>

      <br />
      <br />
      <!-- :selected para hacer que se seleccione automaticamente desde el arreglo -->
      <select class="browser-default">
        <option
          v-for="fruta in frutas"
          v-bind:value="fruta.id"
          :selected="fruta.selected"
        >
          {{fruta.id}} - {{fruta.nombre}}
        </option>
      </select>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const app = {
        data() {
          return {
            txtDisabled: true,
            usuarios: 4,
            titulo: "xd",
            esObligatorio: true,
            frutas: [
              {
                id: 1,
                nombre: "Manzana",
                selected: false,
              },
              {
                id: 2,
                nombre: "Pera",
                selected: false,
              },
              {
                id: 3,
                nombre: "Sandía",
                selected: true,
              },
              {
                id: 4,
                nombre: "Platano",
                selected: false,
              },
            ],
            idFruta: 3,
          };
        },
        methods: {},
      };
      var mountedApp = Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
