<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <div id="app">
        <menu-component v-bind:usuario="usuario"></menu-component>
        <div class="container">
            <div class="row">
                <div class="col m6">
                    <label>Usuario</label>
                    <input type="text" v-model="usuario">
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <label>Correo</label>
                    <input type="text" v-model="correo">
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <label>Contraseña</label>
                    <input type="password" v-model="clave">
                </div>
            </div>
            <div class="row">
                <button class="indigo darken-4 btn">Registrarse</button>
            </div>
            <!-- Puedes reutilizar los componentes. Cada componente es completamente independiente, cada uno tiene sus propios datos e instancias-->
            <menu-component></menu-component>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
    <script src="menu.component.js"></script>
    <script>
        const mountedApp=_app.mount('#app')
    </script>
</body>
</html>